border-1px-top($color)
  position: relative
  &::after
    display: block
    position: absolute
    width: 100%
    content: ''
    bottom: 0
    left: 0
    border-top: 1px solid $color

border-1px-bottom($color)
  position: relative
  &::after
    display: block
    position: absolute
    width: 100%
    content: ''
    bottom: 0
    left: 0
    border-bottom: 1px solid $color

border-2px-left($color)
  position: relative
  &::after
    display: block
    position: absolute
    height 100%
    content: ''
    left: 0
    top: 0
    border-left 2px solid $color

border-none()
  &::after
    display none


border-1px-right($color)
  position: relative
  &::after
    display: block
    position: absolute
    height: 100%
    content: ''
    right: 0
    top: 0
    border-right 1px solid $color
